html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*after {
  box-sizing: border-box;
}
/* Need a font from google. */
body {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #1d122f;
  height: 100%;
}
/* Center heading and stack them. I want the child paragraph to be italized and smaller and trailing off to the right. */
header {
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
  height: 50%;
}
small {
  font-size: 0.6em;
}
nav {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 30%;
  background-color: rgb(27, 21, 68);
  border-radius: 35px;
}
li {
  display: inline-block;
  margin: 15px;
  padding: 11px;
  /* background: #d21f3c; javascript remember this color */
  opacity: 0.5;
  border-radius: 15px;
}
li:hover {
  cursor: pointer;
}
footer {
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Reset default values */
h1 {
  margin: 0;
}
p {
  margin: 0;
}
